
crab_0_*
*.root
multicrab.cfg
multicrab_*??????_??????
multicrab_*??????_??????.t*
crab_?_??????_??????
*.tar.gz
*.tgz
typescript
*_backup
datacards_??????_??????_*
*.bak
CombinedLimit
.gitmodules
.DS_Store
*.cmnd
